.cim{
    background-color: black;
    color: white;
}
.background_secret{
    color: black;
    background-color: black;
}



.beginning{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    background-color: white;
    opacity: 52%;
    width: 50%;
}
.smallmargin{
    margin-left: 15px;
    text-align: center;
}

.bigmargin{
    margin: 5%;
    position: absolute;
    top: 30px;
    left: 42%;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;

}
a:link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;

  }

  a:visited {
    color: orange;
  }

  a:hover {
    color: black;
  }

  .button {
    text-decoration: none;
    background-color: rgba(236, 229, 167, 0.2);
    border: 1px solid #e7bf84bb;
    color: #b38814;
    display: flexbox;
    font-size: 1.5em;
    padding: 2%;
    transition: 0.6s;
    scale: 86%;
    
  }
  .button:hover {
    text-decoration: none;
    background-color: black;
    border-color: white;
    color: black;
  }
  .button2{
    text-decoration: none;
    background-color: rgba(236, 229, 167, 0.2);
    border: 1px solid #e7bf84bb;
    color: #b38814;
    display: flexbox;
    font-size: 1.5em;
    padding: 2%;
    transition: 0.6s;
    scale: 86%;
    
  }
  .button2:hover{
    background-image: radial-gradient(yellowgreen, orange, cyan);
    text-decoration: none;
    background-color: white;
    border-color: white;
    color: white;
  }



.photos{
    opacity: 70%;
}

.middle{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    text-align: center;
    display: block;
}



.footerright{
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
   
    
}
.margintop{
    margin-top: 10px;
}
.marginbottom{
    margin-bottom: 10px;
}
.capitalized{
    text-transform: capitalize;
}
body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url("../img/kep.png");
    background-position: center;
    background-size: 100%;
}
.table_header{
    width: 100%;
    text-align: center;
    
}
h1{
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 2px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 5; }
    .div2 { grid-area: 2 / 2 / 5 / 4; }
    .div3 { grid-area: 2 / 1 / 5 / 2; }
    .div4 { grid-area: 2 / 4 / 5 / 5; }

